<!--Group selector + Income/Expense button -->
<div class="row" style="margin-top: 15px">
    <!--Group label-->
    <div class="col-md-3 label-custom" style="padding-top: 6px">
        <label class="control-label-horiz">APM/SPM</label>
        <span class="required">*</span>
    </div>

    <!--Group combobox-->
    <div class="col-md-9">
        <div style="width: 100%;" id="divGroups" class="label-left">
            <!--placeholder-->
            <input id="comboAPM" name="comboAPM" placeholder="Select APM/SPM..." style="width: 100%;"/>      
        </div>
    </div>
</div>